baseURL = "https://thiscute.world/"

# [en, zh-cn, fr, ...] 设置默认的语言
defaultContentLanguage = "zh-cn"

# 网站标题
title = "This Cute World"

# 更改使用 Hugo 构建网站时使用的默认主题
theme = "DoIt"

staticDir = ["static", "static-surprises"]

# whether to use robots.txt
enableRobotsTXT = true
# 自动根据 git 提交信息，生成文章的更新时间。这个好像不能识别到每篇文章的修改时间，先关掉
# enableGitInfo = true
# whether to use emoji code
enableEmoji = true

[params]
  # DoIt 主题版本
  version = "0.2.X"

  description = "This Cute World"

  # 网站关键词
  keywords = ["Blog", "部落格", "博客", "Ryan4Yin", "於清樂", "ThisCuteWorld"]
  # 网站默认主题样式 ("light", "dark", "auto")
  defaultTheme = "auto"

  # DoIt 新增 | 0.2.0 搜索配置
  [params.search]
    enable = true
    # 搜索引擎的类型 ("lunr", "algolia")
    type = "algolia"
    # 文章内容最长索引长度
    contentLength = 4000
    # 搜索框的占位提示语
    placeholder = ""
    # DoIt 新增 | 0.2.1 最大结果数目
    maxResultLength = 10
    # DoIt 新增 | 0.2.3 结果内容片段长度
    snippetLength = 50
    # DoIt 新增 | 0.2.1 搜索结果中高亮部分的 HTML 标签
    highlightTag = "em"
    # DoIt 新增 | 0.2.4 是否在搜索索引中使用基于 baseURL 的绝对路径
    absoluteURL = false
    [params.search.algolia]
      index = "ryan-space"
      appID = "747LJ10EI7"
      searchKey = "658db5f2bf056f83458cacf5dd58ec80"


  # 页面头部导航栏配置
  [params.header]
    # 桌面端导航栏模式 ("fixed", "normal", "auto")
    desktopMode = "fixed"
    # 移动端导航栏模式 ("fixed", "normal", "auto")
    mobileMode = "auto"
    # DoIt 新增 | 0.2.0 页面头部导航栏标题配置
    [params.header.title]
      # LOGO 的 URL（不要设置这个！）
      logo = ""
      # 标题名称
      name = "This Cute World"
      # 你可以在名称 (允许 HTML 格式) 之前添加其他信息, 例如图标
      pre = ""
      # 你可以在名称 (允许 HTML 格式) 之后添加其他信息, 例如图标
      post = ""
      # DoIt 新增 | 0.2.5 是否为标题显示打字机动画
      typeit = true

  # Footer config
  # 页面底部信息配置
  [params.footer]
    enable = true
    # Custom content (HTML format is supported)
    # 自定义内容 (支持 HTML 格式)
    custom = '<a href="https://www.foreverblog.cn/" target="_blank"> <img src="https://img.foreverblog.cn/logo_en_default.png" alt="" style="width:auto;height:15px;margin-bottom:5px;"> </a> <a href="https://www.foreverblog.cn/go.html" target="_blank"> <img src="https://img.foreverblog.cn/wormhole_3.gif" alt="" style="width:auto;height:24px;" title="穿梭虫洞-随机访问十年之约友链博客"></a>'
    # whether to show Hugo and theme info
    # 是否显示 Hugo 和主题信息
    hugo = true
    # whether to show copyright info
    # 是否显示版权信息
    copyright = true
    # whether to show the author
    # 是否显示作者
    author = true
    # site creation time
    # 网站创立年份
    since = 2021
    # ICP info only in China (HTML format is supported)
    # ICP 备案信息，仅在中国使用 (支持 HTML 格式)
    icp = ""
    # license info (HTML format is supported)
    # 许可协议信息 (支持 HTML 格式)
    license= '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'

  #  Section (所有文章) 页面配置
  [params.section]
    # section 页面每页显示文章数量
    paginate = 1000  # 尽量一页列出所有文章

  #  List (目录或标签) 页面配置
  [params.list]
    # list 页面每页显示文章数量
    paginate = 1000  # 尽量一页列出所有文章

  # 社交信息设置
  [params.social]
    GitHub = "ryan4yin"

    Twitter = "ryan4yin"
    Steam = "ryan4yin"

    Zhihu = "yuansuye"
    Douban = "kirito_c"
    Bilibili = "12278805"
    RSS = true # RSS 格式太简陋，切换到自定义的 ATOM 格式，此参数仅用于控制显示首页的 RSS 按钮

  # DoIt 更改 | 0.2.0 文章页面配置
  [params.page]
    # DoIt 新增 | 0.2.0 是否在主页隐藏一篇文章
    hiddenFromHomePage = false
    # DoIt 新增 | 0.2.0 是否在搜索结果中隐藏一篇文章
    hiddenFromSearch = false
    # DoIt 新增 | 0.2.0 是否使用 twemoji
    twemoji = false
    # 是否使用 lightgallery
    lightgallery = false
    # DoIt 新增 | 0.2.0 是否使用 ruby 扩展语法
    ruby = true
    # DoIt 新增 | 0.2.0 是否使用 fraction 扩展语法
    fraction = true
    # DoIt 新增 | 0.2.0 是否使用 fontawesome 扩展语法
    fontawesome = true
    # 是否在文章页面显示原始 Markdown 文档链接
    linkToMarkdown = true
    # 是否使用「系列」导航
    seriesNavigation = true
    # DoIt 新增 | 0.2.0 目录配置
    [params.page.toc]
      # 是否使用目录
      enable = true
      # DoIt 新增 | 0.2.9 是否保持使用文章前面的静态目录
      keepStatic = false
      # 是否使侧边目录自动折叠展开
      auto = true
    # DoIt 新增 | 0.2.0 代码配置
    [params.page.code]
      # 是否显示代码块的复制按钮
      copy = true
      # 默认展开显示的代码行数
      maxShownLines = 30
    # DoIt 更改 | 0.2.0 KaTeX 数学公式
    [params.page.math]
      enable = true
      # 默认块定界符是 $$ ... $$ 和 \\[ ... \\]
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      # 默认行内定界符是 $ ... $ 和 \\( ... \\)
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      # KaTeX 插件 copy_tex
      copyTex = true
      # KaTeX 插件 mhchem
      mhchem = true
    # DoIt 新增 | 0.2.0 Mapbox GL JS 配置
    [params.page.mapbox]
      # Mapbox GL JS 的 access token
      accessToken = ""
      # 浅色主题的地图样式
      lightStyle = "mapbox://styles/mapbox/light-v9"
      # 深色主题的地图样式
      darkStyle = "mapbox://styles/mapbox/dark-v9"
      # 是否添加 NavigationControl
      navigation = true
      # 是否添加 GeolocateControl
      geolocate = true
      # 是否添加 ScaleControl
      scale = true
      # 是否添加 FullscreenControl
      fullscreen = true
    # DoIt 更改 | 0.2.0 文章页面的分享信息设置
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = true
      Reddit = true
      HackerNews = false
      Pocket = false
      Tumblr = false
    # DoIt 更改 | 0.2.0 评论系统设置
    [params.page.comment]
      enable = true
      # Disqus 评论系统设置
      [params.page.comment.disqus]
        # DoIt 新增 | 0.1.1
        enable = false
        # Disqus 的 shortname，用来在文章中启用 Disqus 评论系统
        shortname = "ryan4yin"
      # DoIt 新增 | 0.2.5 Utterances 评论系统设置
      [params.page.comment.utterances]
        enable = true
        # owner/repo
        repo = "ryan4yin/thiscute.world"
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
      # {{< version 0.2.0 >}} {{< link "https://waline.js.org/en/" "Waline" >}} comment config
      [params.page.comment.waline]
        enable = false
        serverURL = "waline-comment.thiscute.world"
        # emoji = ['https://cdn.jsdelivr.net/gh/walinejs/emojis/weibo']  # custom emoji url
        visitor = true
        dark = 'auto'
        defaultAvatar = 'mp'
        requiredMeta = ['nick','mail']
        wordLimit = 1500

    # Page SEO config
    # 页面 SEO 配置
    [params.page.seo]
      # image URL
      # 图片 URL
      images = []
      # Publisher info
      # 出版者信息
      [params.page.seo.publisher]
        name = "ryan4yin"
        logoUrl = "/avatar/myself.png"

  # 网站验证代码，用于 Google/Bing/Yandex/Pinterest/Baidu
  [params.verification]
    google = "E8bpp1lVVlb9YnSJcUzPL1dLAG17Nl_sp5Ru9a8tUDQ"
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = "code-ZZtDruAnX1"

  # DoIt 新增 | 0.2.10 网站 SEO 配置
  [params.seo]
    # 图片 URL
    image = ""
    # 缩略图 URL
    thumbnailUrl = ""

  # DoIt 新增 | 0.2.0 网站分析配置
  [params.analytics]
    enable = true
    # Google Analytics
    [params.analytics.google]
      id = "G-4V93QVSNFW"
      # 是否匿名化用户 IP
      anonymizeIP = true

[languages]
  [languages.zh-cn]
    weight = 1
    # language code, CN only here
    languageCode = "zh-CN"
    languageName = "Simplified Chinese"
    # whether to include Chinese/Japanese/Korean
    hasCJKLanguage = true

    [languages.zh-cn.params.home.profile]
      enable = true
      # Gravatar 邮箱，用于优先在主页显示的头像
      # gravatarEmail = "xiaoyin_c@qq.com"
      # 主页显示头像的 URL
      avatarURL = "/avatar/myself.webp"
      # DoIt 更改 | 0.2.7 主页显示的网站标题 (支持 HTML 格式)
      title = ""
      # 主页显示的网站副标题
      subtitle = "脚下虽有万水千山，但行者必至。"
      # 是否为副标题显示打字机动画
      typeit = true
      # 是否显示社交账号
      social = true
      # DoIt 新增 | 0.2.0 免责声明 (支持 HTML 格式)
      disclaimer = ""

    [languages.zh-cn.params.home.posts]
      enable = true
      # special amount of posts in each home posts page
      paginate = 10

    # DoIt 更改 | 0.2.7 第三方库文件的 CDN 设置
    # [languages.zh-cn.params.cdn]
    #   # CDN 数据文件名称, 默认不启用
    #   # 位于 "themes/DoIt/assets/data/cdn/" 目录
    #   # 可以在你的项目下相同路径存放你自己的数据文件:
    #   # "assets/data/cdn/"
    #   data = "jsdelivr.yml"
      
    [[languages.zh-cn.menu.main]]
      identifier = "statistics"
      pre = ""
      post = ""
      name = "阅读排行"
      url = "/statistics/"
      title = ""
      weight = 1
    [[languages.zh-cn.menu.main]]
      identifier = "series"
      pre = ""
      post = ""
      name = "系列"
      url = "/series/"
      title = ""
      weight = 3
    [[languages.zh-cn.menu.main]]
      identifier = "tech"
      pre = ""
      post = ""
      name = "技术"
      url = "/categories/tech/"
      title = ""
      weight = 5
    [[languages.zh-cn.menu.main]]
      identifier = "essays"
      pre = ""
      post = ""
      name = "生活"
      url = "/categories/life/"
      title = ""
      weight = 7
    [[languages.zh-cn.menu.main]]
      identifier = "tags"
      pre = ""
      post = ""
      name = "标签"
      url = "/tags/"
      title = ""
      weight = 9
    [[languages.zh-cn.menu.main]]
      identifier = "friends"
      pre = ""
      post = ""
      name = "朋友们"
      url = "/friends/"
      title = ""
      weight = 11
    [[languages.zh-cn.menu.main]]
      identifier = "now"
      pre = ""
      post = ""
      name = "此刻"
      url = "/now/"
      title = ""
      weight = 13
    [[languages.zh-cn.menu.main]]
      identifier = "about"
      pre = ""
      post = ""
      name = "关于"
      url = "/about/"
      title = ""
      weight = 15

  [languages.en]
    weight = 2
    languageCode = "en"
    languageName = "English"
    [languages.en.params.home.profile]
      enable = true
      # Gravatar 邮箱，用于优先在主页显示的头像
      # gravatarEmail = "xiaoyin_c@qq.com"
      # 主页显示头像的 URL
      avatarURL = "/avatar/myself.webp"
      # DoIt 更改 | 0.2.7 主页显示的网站标题 (支持 HTML 格式)
      title = ""
      # 主页显示的网站副标题
      subtitle = """I miss flowers, but see the sea."""
      # 是否为副标题显示打字机动画
      typeit = false
      # 是否显示社交账号
      social = true
      # DoIt 新增 | 0.2.0 免责声明 (支持 HTML 格式)
      disclaimer = ""

    [languages.en.params.home.posts]
      enable = true
      # special amount of posts in each home posts page
      paginate = 10

    # [[languages.zh-cn.menu.main]]
    #   identifier = "statistics"
    #   pre = ""
    #   post = ""
    #   name = "Trending"
    #   url = "/statistics/"
    #   title = ""
    #   weight = 1
    [[languages.en.menu.main]]
      identifier = "series"
      pre = ""
      post = ""
      name = "Series"
      url = "/series/"
      title = ""
      weight = 3
    [[languages.en.menu.main]]
      identifier = "posts"
      pre = ""
      post = ""
      name = "Posts"
      url = "/posts/"
      title = ""
      weight = 5
    [[languages.en.menu.main]]
      identifier = "tech"
      pre = ""
      post = ""
      name = "Tech"
      url = "/categories/tech/"
      title = ""
      weight = 7
    [[languages.en.menu.main]]
      identifier = "essays"
      pre = ""
      post = ""
      name = "Life"
      url = "/categories/life/"
      title = ""
      weight = 9
    [[languages.en.menu.main]]
      identifier = "tags"
      pre = ""
      post = ""
      name = "Tags"
      url = "/tags/"
      title = ""
      weight = 11
    [[languages.en.menu.main]]
      identifier = "now"
      pre = ""
      post = ""
      name = "Now"
      url = "/now/"
      title = ""
      weight = 15
    [[languages.en.menu.main]]
      identifier = "about"
      pre = ""
      post = ""
      name = "About"
      url = "/about/"
      title = ""
      weight = 17

# Hugo 解析文档的配置
[markup]
  # 语法高亮设置
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    # false 是必要的设置
    # (https://github.com/dillonzq/DoIt/issues/158)
    noClasses = false
  # Goldmark 是 Hugo 0.60 以来的默认 Markdown 解析库
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      # 是否在文档中直接使用 HTML 标签
      unsafe = true
  # 目录设置
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6


# 作者配置
[author]
  name = "ryan4yin"
  link = "https://thiscute.world/"


# 网站地图配置
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

# Permalinks 配置
[Permalinks]
  # posts = ":year/:month/:filename"
  posts = "posts/:filename"

# 隐私信息配置
[privacy]
  [privacy.twitter]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true

# Atom feed
# Add "ATOM" to the Page Kinds under [outputs] (in your site config) for which
# you want to enable Atom feeds.
# Example:
#   [outputs]
#     home = ["HTML", "ATOM"]
# https://gist.github.com/lpar/7ded35d8f52fef7490a5be92e6cd6937
[mediaTypes."application/atom+xml"]
  suffixes = ["xml"]
[outputFormats.Atom]
  # https://validator.w3.org/feed/docs/atom.html#whatIsAtom
  name = "ATOM"
  mediaType = "application/atom+xml"
  baseName = "index" # generated file = <baseName>.<mediaType."application/atom+xml".suffixes[0]> = index.xml
  isPlainText = false
  rel = "alternate"
  isHTML = false
  noUgly = true
  permalinkable = false

# 用于分类的设置
[taxonomies]
author = "authors"
category = "categories"
tag = "tags"
series = "series"

# 用于 Hugo 输出文档的设置
[outputs]
  # DoIt 更改 | 0.2.0
  # 为了支持搜索，需要在这里设定，输出 json 索引文件
  # <domain>/atom.xml
  home = ["HTML", "ATOM", "JSON"]
  page = ["HTML"]
  section = ["HTML"]
  taxonomy = ["HTML"]
  taxonomyTerm = ["HTML"]
