{{ $scratch := newScratch }}
{{ range (where $.Site.RegularPages "Type" "posts") }}
{{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

{{ with index $.Site.Data.website_statistics "total" }}
    <table class="center">
        <thead>
        <tr>
        <th>总字数</th>
        <th>总访客数 UV</th>
        <th>总访问量 PV</th>
        <th>总阅读时长</th>
        <th>人均阅读时长</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align:center">
            <td>{{ $scratch.Get "wordcount" }}</td>
            <td style="color:tomato;"><strong>{{ .activeUsers }}</strong></td>
            <td>{{ .screenPageViews }}</td>
            <td>{{ .humanizedReadingDuration }}</td>
            <td style="color:dodgerblue;"><strong>{{ .humanizedReadingDurationPerUser }}</strong></td>
            </tr>
        </tbody>
    </table>
{{ end }}
