    <table>
        <thead style="white-space: nowrap;">
        <tr>
        <th></th>
        <th>标题</th>
        <th>人均阅读时长</th>
        <th>访客数</th>
        <th>访问量</th>
        </tr>
        </thead>
        <tbody>
        
        {{ range $index, $page := index $.Site.Data.website_statistics "trendingThisMonth" }}
        <tr>
            <td>{{ add $index 1 }}</td>
            <td><a href="{{ .pagePath }}">{{ $page.pageTitle }}</a></td>
            <td>{{ $page.humanizedReadingDurationPerUser }}</td>
            <td>{{ $page.activeUsers }}</td>
            <td>{{ $page.screenPageViews }}</td>
            </tr>
        {{ end }}

        </tbody>
    </table>