# based on https://github.com/peaceiris/actions-hugo
name: update & deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "36 5 * * *"  # 分 时 日 月 周

jobs:
  update:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive  # Fetch Hugo themes recursively
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod
          lfs: true              # download Git-LFS files

      - name: Use Python3
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: Update Posts Trending
        run: |
          # decrypt service-account.json
          gpg --quiet --batch --yes --decrypt --passphrase="$SERVICE_ACCOUNT_DECRYPT_KEY" --output google-service-account.json google-service-account.json.gpg
          pip3 install "google-api-python-client==2.36.0" "google-auth==2.4.0" "pyyaml"
          # generate website_statistics.json
          python3 update_statistics.py
          python3 process_posts.py
          # commit changes
        env:
          SERVICE_ACCOUNT_DECRYPT_KEY: ${{ secrets.SERVICE_ACCOUNT_DECRYPT_KEY }}
      - name: Commit Changes
        run: |
          git config --local user.email "ryan4yin[bot]@users.noreply.github.com"
          git config --local user.name "ryan4yin[bot]"
          git add data/
          git commit -m "feat: update data/"
          git push
          git clean -fxd
  # generate static files using dedicated job with pure clean environment
  deploy:
    runs-on: ubuntu-22.04
    needs: [update]  # depends on job `update`
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.110.0'
          extended: true  #  need extended version to support SASS/SCSS

      - name: Build
        run: hugo --minify --debug --printUnusedTemplates

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: thiscte.world

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Push Argolia Index
        run: |
          npm install algoliasearch@4.12.1
          node push_argolia_index.js
        env:
          ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
